# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__

* List of popular languages that Data Scientists use
* Commonly used libraries by Data Scientists
* List Data Science Tools
* How to use arithmatic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit

| Data Science Tools |
|--------------------|
| Jupyter Lab |
| R Studio |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [27]:
# Convert 200 minutes to hours by dividing it by 60

x = 200 / 60
print ("200 minutes in hours is:",x)

200 minutes in hours is: 3.3333333333333335

## Author
Supathi Panchal